<div class="row">
    <div class="col-12 m-auto text-center">
        <img src="/assets/imgs/depositphotos_220068430-stock-illustration-404-error-found-tee-print.webp" alt=""
            width="300px">
        <br>
        <a class="btn btn-volver" href="/">Volver</a>
    </div>
</div>